/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
	height: 100%;
	width: 100%;
	background-color: #D9D9D9;
	font-family: "Arial";
}

#content {
	height: 100%;
	width: 100%;
}

.stationBox {
	height: 100%;
	width: 100%;
	display: flex;
  	flex-flow: column;
}

.addrInput {
	background: #D9D9D9;
	border: 5px solid #21201F;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    flex: 0 1 auto;
    font-size: 45px;
	line-height: 2.5em;
	width: 100%;
}

.addrInput:focus {
	border: 5px solid #FF6426;
}

.addrInput::-webkit-search-cancel-button {
  	height: 28px;
  	width: 28px;
    background: url(images/x.png);
  	-webkit-appearance: none;
}

.addrInputConnected {
	background: #FF6426;
}

.addrInputConnected:focus {
	border: 5px solid #FFFFFF;;
}

.stationList ul {
	list-style-type: none;
	padding-left: 0;
}

.emptyList {
	flex: 1 1 auto;
	background-color: #FF6426;
	position: relative;
}

.emptyList span {
	font-size: 25px;
	font-weight: bold;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%);
	left: 50%;
    top: 65%;  
}

.emptyList img {
	height: 300px;
	width: 300px;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.station {
	width: 100%;
	background-color: #4D4A48;
	border-bottom: 5px solid #403E3C;
	color: #D9D9D9;
	font-size: 30px;
	line-height: 2.5em;
}

.station span {
	 margin-left: 20px;
}

.station:hover {
	border-color: #FF6426;
	color: #FF6426;
}

.stationActive {
	color: #FF6426;
}
